<!-- Hero -->
<section
  class="relative h-[500px] bg-primaryGreen bg-[url('assets/imgs/bgElse.webp')] bg-no-repeat bg-cover overflow-hidden"
>
  <app-navbar></app-navbar>

  <h2
    class="mt-28 text-primaryBlack font-headingExtraBold text-7xl text-center"
  >
    ABOUT
  </h2>
  <h1
    class="mt-[110px] md:-mt-[185px] text-center font-headingExtraBold text-[#00000008] text-[110px] md:text-[330px]"
  >
    ABOUT
  </h1>
</section>

<!-- About Desc -->
<section
  class="my-12 md:my-20 lg:my-48 flex flex-col gap-y-6 justify-center md:gap-y-0 md:flex-row items-start xl:px-48 md:py-16 p-6 gap-x-6"
>
  <div class="relative md:w-[560px] md:h-[610px]">
    <img
      class="h-full w-full"
      src="./assets/imgs/about-1.webp"
      alt="image about"
    />
    <!-- mask -->
    <img
      class="absolute -bottom-3 rotate-180 2xl:-top-1 -left-1 w-[120px] h-[70px]"
      src="./assets/imgs/mask.webp"
      alt="mask img"
    />
  </div>
  <div class="md:w-[560px] flex flex-col md:gap-y-6">
    <h2 class="font-headingExtraBold text-2xl mb-6 md:mb-0">
      We are an African hybrid venture studio supporting startups in Africa's
      fast-growing technology landscape.
    </h2>
    <p>
      Qbventures is a venture studio that aims to transform the technology space
      in Africa and beyond through; <br />
      1.Promotion of tech innovation, <br />
      2.Investment in disruptive ideas, <br />
      exploration of alternative business to create new business ventures
    </p>
    <div class="relative md:h-[476px] w-auto mt-6 md:mt-0">
      <img
        class="h-full w-full"
        src="./assets/imgs/about-2.webp"
        alt="image about"
      />
      <!-- mask -->
      <img
        class="absolute -bottom-3 rotate-180 2xl:-top-1 -right-1 w-[120px] h-[70px]"
        src="./assets/imgs/mask.webp"
        alt="mask img"
      />
    </div>
  </div>
</section>

<!-- Mission Vision -->
<section
  class="bg-lightGreen bg-[url('./assets/imgs/bgMask.webp')] w-screen md:h-[500px] flex items-center flex-col justify-center md:gap-x-20 md:flex-row py-10 px-6 lg:px-48"
>
  <div class="md:w-[500px] space-y-4 md:space-y-6 text-center md:text-start">
    <img
      src="./assets/imgs/target.png"
      alt="qbTarget"
      class="h-14 w-14 md:h-20 md:w-20 mx-auto md:mx-0"
    />
    <h1 class="font-headingExtraBold text-2xl">Our Mission</h1>
    <p>
      Our mission is to drive the growth and success of African startups by
      providing them with the much needed ecosystem support and access to the
      capital resources they need to thrive.
    </p>
  </div>
  <div class="md:w-[500px] space-y-4 md:space-y-6 text-center md:text-start">
    <img
      src="./assets/imgs/vision.png"
      alt="qbVision"
      class="h-20 w-20 md:h-20 md:w-20 mx-auto md:mx-0"
    />
    <h1 class="font-headingExtraBold text-2xl">Our Vision</h1>
    <p>
      Our vision is to become a leading venture studio in Africa, known for our
      commitment to the success of our portfolio companies, our focus on impact
      and innovation, and our unwavering dedication to building a better future
      for Africa and the world.
    </p>
  </div>
</section>

<!-- investors -->
<section
  class="flex md:items-start gap-x-20 justify-center lg:px-48 my-12 md:my-48 flex-col md:flex-row py-10 px-6 md:py-0"
>
  <div class="relative md:h-[700px] md:w-[556px]">
    <img
      class="md:h-full md:w-full"
      src="./assets/imgs/about-3.webp"
      alt="image about"
    />
    <!-- mask -->
    <img
      class="absolute bottom-0 md:-bottom-1 -right-1 w-[120px] h-[70px]"
      src="./assets/imgs/mask.webp"
      alt="mask img"
    />
  </div>
  <div class="md:w-[520px] pt-10 md:pt-0 pb-10">
    <h1 class="font-headingExtraBold text-3xl md:text-4xl mb-4">
      Our values guide our culture and approach to venture building
    </h1>
    <ul class="list-disc">
      <li>
        <span class="font-headingFont">It is okay to fail </span><br />
        We embrace calculated risk-taking and consider the learning
        opportunities in failure as integral to our growth and innovation.
      </li>
      <li>
        <span class="font-headingFont">Chutzpah - Dare to Do </span><br />
        We adopt boldness, audacity, and confidence in pursuing ambitious goals
        and taking on challenges.
      </li>
      <li>
        <span class="font-headingFont">Innovative. </span><br />
        We are open to new ideas and constantly looking for ways to improve and
        evolve. We strive to think outside the box and take risks in order to
        bring new and unique products and services to the market.
      </li>
      <li>
        <span class="font-headingFont">Passionate </span><br />
        We are made up of individuals who are deeply committed to their work and
        are excited about the potential impact we can have.
      </li>
      <li>
        <span class="font-headingFont">Leadership </span><br />
        We foster an environment where individuals are encouraged to take charge
        and make decisions that will drive the company forward. We also actively
        work on developing the leadership skills of our team members
      </li>
      <li>
        <span class="font-headingFont">Accountable </span> <br />
        We hold ourselves accountable to our key stakeholders for delivering on
        our promise. We also hold our members accountable for their work and
        have clear expectations for their performance and results. We constantly
        work to create a culture of transparency and trust that ensures that we
        are always moving in the right direction.
      </li>
    </ul>
  </div>
</section>

<!-- footer -->
<app-footer></app-footer>
