<!-- Hero -->
<section class="relative h-[500px] bg-primaryGreen overflow-hidden">
  <app-navbar></app-navbar>

  <h2
    class="mt-28 text-primaryBlack font-headingExtraBold text-7xl text-center"
  >
    ABOUT
  </h2>
  <h1
    class="absolute bottom-0 md:-mt-[147px] text-center font-headingExtraBold text-[#00000008] text-[110px] md:text-[330px]"
  >
    ABOUT
  </h1>
</section>

<!-- About Desc -->
<section
  class="my-12 md:my-20 lg:my-48 flex flex-col gap-y-6 md:gap-y-0 md:flex-row items-start xl:px-48 md:py-16 p-6 gap-x-6"
>
  <div class="relative md:h-[610px]">
    <img
      class="h-full w-full"
      src="https://picsum.photos/365/199"
      alt="image about"
    />
    <!-- mask -->
    <img
      class="absolute -bottom-3 rotate-180 2xl:-top-1 -left-1 w-[120px] h-[70px] 2xl:w-[198px] 2xl:h-[85px]"
      src="./assets/imgs/mask.svg"
      alt="mask img"
    />
  </div>
  <div class="md:w-3/4 gap-y-6">
    <h2 class="font-headingExtraBold text-2xl mb-6 md:mb-0">
      We are an African hybrid venture studio supporting startups in Africa's
      fast-growing technology landscape.
    </h2>
    <p>
      Qbventures is a platform and a venture catalyst on a mission to promote
      innovation, invest in technology ideas (govtech, fintech and emerging
      markets) and also explore alternative business models.Through our team of
      experts, our main focus is on growing and transforming markets across
      Africa through integrated business and software solutions and coming up
      with new business models.
    </p>
    <div class="relative md:h-[476px] w-auto mt-6 md:mt-0">
      <img
        class="h-full w-full"
        src="https://picsum.photos/365/199"
        alt="image about"
      />
      <!-- mask -->
      <img
        class="absolute -bottom-3 rotate-180 2xl:-top-1 -right-1 w-[120px] h-[70px] 2xl:w-[198px] 2xl:h-[85px]"
        src="./assets/imgs/mask.svg"
        alt="mask img"
      />
    </div>
  </div>
</section>

<!-- Mission Vision -->
<section
  class="bg-lightGreen bg-[url('./assets/imgs/bgMask.svg')] w-screen md:h-[500px] flex items-center flex-col md:flex-row py-10 px-6 lg:px-48"
>
  <div class="md:w-1/2 space-y-4 md:space-y-6 text-center md:text-start">
    <img
      src="./assets/imgs/target.png"
      alt="qbTarget"
      class="h-14 w-14 md:h-20 md:w-20 mx-auto md:mx-0"
    />
    <h1 class="font-headingExtraBold text-2xl">Our Mission</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur. Nunc vitae at amet tellus amet
      feugiat ac ut lacinia. Auctor quisque sed ut vel. Semper lorem a sed
      volutpat ultrices. Nisl elementum leo turpis et gravida at purus sed
      lectus. Duis elit erat erat phasellus id massa ullamcorper congue
      consequat. Semper odio ultrices nibh arcu magna euismod consectetur massa.
    </p>
  </div>
  <div class="md:w-1/2 space-y-4 md:space-y-6 text-center md:text-start">
    <img
      src="./assets/imgs/vision.png"
      alt="qbVision"
      class="h-20 w-20 md:h-20 md:w-20 mx-auto md:mx-0"
    />
    <h1 class="font-headingExtraBold text-2xl">Our Vision</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur. Volutpat sollicitudin ornare
      phasellus enim imperdiet nec et vel venenatis. Eu nec ipsum lorem turpis
      sed egestas. Bibendum consequat viverra elementum nulla at neque volutpat
      sodales sit. Sed consequat elementum ligula luctus sit iaculis. Massa nunc
      et placerat id. Neque nibh non massa bibendum in habitasse sed dignissim.
    </p>
  </div>
</section>

<!-- investors -->
<section
  class="flex md:items-start gap-x-10 bg-primaryBlack lg:px-48 lg:h-[700px] my-12 md:my-48 flex-col md:flex-row py-10 px-6 md:py-0"
>
  <div class="relative md:h-[610px] md:w-1/2">
    <img
      class="md:h-full md:w-full"
      src="https://picsum.photos/365/199"
      alt="image about"
    />
    <!-- mask -->
    <img
      class="absolute -bottom-3 rotate-180 2xl:-bottom-0 -right-1 w-[120px] h-[70px] 2xl:w-[198px] 2xl:h-[85px]"
      src="./assets/imgs/mask.svg"
      alt="mask img"
    />
  </div>
  <div class="md:w-1/2 pt-10 md:pt-20">
    <h1 class="text-lightGreen font-headingExtraBold text-3xl md:text-4xl mb-4">
      Lorem ipsum dolor sit amet consectetur. Vel.
    </h1>
    <p class="text-primaryWhite">
      Lorem ipsum dolor sit amet consectetur. Pulvinar est suspendisse orci non
      odio egestas fames volutpat etiam. Praesent nunc nisl interdum eu
      accumsan. Sed eget enim egestas pellentesque. Proin egestas arcu imperdiet
      ultrices. At quam quis netus fames varius a platea. Quam purus montes
      elementum cursus. Tristique diam nibh aliquet nisl vulputate sagittis.
      Nisi et turpis non nibh volutpat tellus nec. Nisi purus faucibus proin
      blandit purus accumsan aliquam. Purus eget faucibus tellus orci. Fusce
      porttitor sodales ut nisl in nunc. Sed semper eget blandit nascetur vel ut
      sed sit. Lacinia sollicitudin pretium sed adipiscing gravida nulla mi
      fermentum cursus. Etiam sagittis neque semper sit tristique sollicitudin
      viverra congue. Malesuada orci consectetur in tincidunt a convallis mus.
      Amet turpis volutpat sit.
    </p>
  </div>
</section>

<!-- Latest news -->
<section class="px-6 md:px-20 my-12 lg:my-32">
  <div class="my-6 flex items-center justify-between">
    <h1 class="font-headingExtraBold text-2xl md:text-[40px]">LATEST NEWS</h1>
    <div
      class="flex items-center justify-around border-2 rounded-full border-primaryBlack text-[9px] md:text-base p-2 md:py-4 md:px-5 md:w-44 cursor-pointer transition-all duration-500 transform hover:bg-primaryWhite hover:text-primaryBlack hover:border-primaryWhite"
    >
      Read More
      <img
        src="./assets/imgs/arrowRightDark.svg"
        alt="arrow right"
        class="h-4 w-4 md:h-6 md:w-6"
      />
    </div>
  </div>
  <div
    class="flex items-center justify-between gap-x-6 flex-col lg:flex-row gap-y-6 lg:gap-y-0"
  >
    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>

    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>

    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>
    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>
  </div>
</section>

<!-- footer -->
<app-footer></app-footer>
