<!-- Hero -->
<section class="relative h-[500px] bg-primaryGreen overflow-hidden">
  <app-navbar [isDarkMenu]="!!'true'"></app-navbar>

  <h2
    class="mt-28 text-primaryBlack font-headingExtraBold text-7xl text-center"
  >
    CAPITAL
  </h2>
  <h1
    class="mt-[110px] md:-mt-[185px] text-center font-headingExtraBold text-[#00000008] text-[100px] md:text-[330px]"
  >
    CAPITAL
  </h1>
</section>

<!-- Capital -->
<section
  id="capital"
  class="md:h-[700px] my-12 md:my-20 w-screen gap-y-6 md:gap-y-0 md:py-16 px-0 md:px-20"
>
  <div class="relative h-full w-full">
    <!-- image -->
    <div class="md:absolute top-0 flex justify-end h-auto md:w-1/2 md:z-10">
      <img
        class="md:h-[564px] md:w-[560px]"
        src="./assets/imgs/capital-1.webp"
        alt="image capital"
      />
    </div>

    <!-- text -->
    <div class="md:absolute md:top-20 md:z-0 md:right-12 md:w-1/2">
      <div
        class="relative md:w-[90%] bg-primaryBlack px-12 md:px-20 py-20 md:py-40"
      >
        <p
          class="font-headingExtraBold text-lightGreen text-3xl md:text-4xl mb-12"
        >
          We invest in founders building early-stage software companies.
        </p>
        <div
          class="group flex items-center justify-around rounded-full py-4 px-5 w-max mt-5 gap-x-4 cursor-pointer transition-all duration-500 transform bg-transparent text-primaryWhite hover:bg-lightGreen hover:text-primaryBlack border-lightGreen border font-headingFont"
          [routerLink]="['/contact']"
        >
          Partner With Us

          <svg
            class="stroke-primaryWhite transition-all duration-300 ease-in-out group-hover:stroke-primaryBlack"
            width="17"
            height="17"
            viewBox="0 0 17 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.54376 8.13342H13.6253"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.09198 3.60004L13.6254 8.13341L9.09198 12.6668"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <!-- mask -->
        <img
          class="absolute bottom-0 rotate-180 right-0 md:-right-1 w-[120px] h-[70px] md:w-[150px] md:h-[85px]"
          src="./assets/imgs/mask.webp"
          alt="mask img"
        />
      </div>
    </div>
  </div>
</section>

<!-- Portfolio -->
<section
  id="porfolio"
  class="flex flex-col items-center gap-y-16 py-14 md:py-24 px-6 md:px-20 lg:px-48"
>
  <h1 class="uppercase text-center font-headingExtraBold text-3xl md:text-4xl">
    Capital portfolio
  </h1>
  <div class="flex flex-wrap justify-center md:justify-start gap-x-24 gap-y-14">
    <img src="./assets/imgs/loita.webp" alt="loita logo" />
    <img src="./assets/imgs/naiparq.webp" alt="naiparq logo" />
    <img src="./assets/imgs/prodtrace.webp" alt="prodtrace logo" />
    <img src="./assets/imgs/pacio.webp" alt="pacio logo" />
  </div>
</section>

<!-- Philosophy -->
<section
  class="w-screen bg-primaryBlack px-6 py-8 md:px-20 md:py-24 md:min-h-[750px] flex items-start flex-wrap gap-y-12 md:flex-nowrap md:justify-center md:gap-y-0 md:gap-x-20 md:mb-10"
>
  <!-- qbphil -->
  <div class="space-y-8 md:w-96">
    <p
      class="text-primaryGreen font-headingFont font-bold text-3xl md:text-5xl"
    >
      Qbcapital Philosophy
    </p>
    <p class="text-primaryWhite text-xl">
      We believe that African founders deserve support from venture building
      ecosystems.
    </p>
  </div>
  <!-- qbtheme -->
  <div
    class="grid divide-y divide-neutral-200 text-primaryWhite w-full md:w-1/2"
  >
    <div class="pb-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span class="font-headingExtraBold text-xl"> Themes</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-primaryWhite mt-3 group-open:animate-fade">
          The themes are related to disruptive technologies in all major
          industries (Fintech, Agritech, Edtech, Govtech etc.)
        </p>
      </details>
    </div>
    <div class="pb-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span class="font-headingExtraBold text-xl">Markets</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-primaryWhite mt-3 group-open:animate-fade">
          The targeted markets are mostly the African markets, but however not
          restricted to the Global markets.
        </p>
      </details>
    </div>
    <div class="pb-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span class="font-headingExtraBold text-xl">Proposition</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-primaryWhite mt-3 group-open:animate-fade">
          We endeavour to create commercially viable and investible businesses.
          Our proven process in venture building guarantess the creation of
          scalable and sustainable business models
        </p>
      </details>
    </div>
    <div class="pb-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span class="font-headingExtraBold text-xl">Governance</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-primaryWhite mt-3 group-open:animate-fade">
          All porfolio ventures register independent legal entities and are
          encouraged to form boards and the scale-up stage of their venture
          building journey
        </p>
      </details>
    </div>
    <div class="pb-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span class="font-headingExtraBold text-xl">Ownership</span>
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-primaryWhite mt-3 group-open:animate-fade">
          Ownership of the ventures is through equity stake which may vary for
          all portfolio ventures
        </p>
      </details>
    </div>
  </div>
</section>

<!-- CTA Vision -->
<section class="w-screen md:h-[500px] md:py-24 md:pl-44 md:-mt-[305px]">
  <div
    class="bg-[url('./assets/imgs/bgMask.webp')] bg-primaryGreen py-14 px-6 md:px-20"
  >
    <h1
      class="uppercase text-primaryBlack text-4xl md:text-6xl font-headingExtraBold"
    >
      Scale Your Business
    </h1>
    <p class="text-primaryBlack text-2xl md:w-1/2 my-6">
      We invest in founders building the next generation of B2B SaaS companies.
      If you’re looking to scale your business, we’d love to connect.
    </p>
    <div
      class="group flex items-center justify-around rounded-full py-4 px-5 w-max mt-5 gap-x-4 cursor-pointer transition-all duration-500 transform bg-transparent hover:bg-primaryBlack hover:text-primaryWhite border-primaryBlack border font-headingFont"
      [routerLink]="['/contact']"
    >
      Partner With Us

      <svg
        class="stroke-primaryBlack transition-all duration-300 ease-in-out group-hover:stroke-primaryWhite"
        width="17"
        height="17"
        viewBox="0 0 17 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2.54376 8.13342H13.6253"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.09198 3.60004L13.6254 8.13341L9.09198 12.6668"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
</section>

<!-- Testimonial -->
<section class="px-6 md:px-20 my-12 lg:my-32">
  <div class="flex flex-col justify-center md:flex-row">
    <div
      class="bg-primaryBlack text-primaryWhite px-4 py-20 space-y-6 flex flex-col items-center justify-between text-center text-2xl md:w-[600px]"
    >
      <p>
        “Working with Qbcapital has been amazing and has contributed alot to the
        growth of our company.“
      </p>

      <div class="flex items-center flex-col">
        <p class="font-bold">Joan Yieke</p>
        <p>CEO, Naiparq</p>
        <div class="flex mt-6 gap-x-6">
          <div
            class="group border border-white rounded-full p-2 w-min hover:bg-primaryWhite"
          >
            <svg
              class="stroke-white rotate-180 group-hover:stroke-primaryBlack h-4 w-4 md:h-6 md:w-6"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.75 12H20.25"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.5 5.25L20.25 12L13.5 18.75"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div
            class="group border border-white rounded-full p-2 hover:bg-primaryWhite"
          >
            <svg
              class="stroke-white group-hover:stroke-primaryBlack h-4 w-4 md:h-6 md:w-6"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.75 12H20.25"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.5 5.25L20.25 12L13.5 18.75"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="md:-ml-1 md:min-w-1/2">
      <img src="./assets/imgs/joan.webp" alt="Joan" />
    </div>
  </div>
</section>

<!-- FAQs section -->
<section class="px-6 md:px-20 my-12 lg:my-32">
  <h1 class="uppercase text-center font-headingExtraBold text-3xl md:text-4xl">
    FAQS
  </h1>
  <div class="grid divide-y divide-neutral-200 mt-8">
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span class="font-headingExtraBold text-xl">
            01. What is QBcapital an what do you do?</span
          >
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          QBCapital is an investments arm of QBVentures and helps African
          entreprenuers have access to funding in order to build and scale their
          ventures.
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span class="font-headingExtraBold text-xl">
            02. What is your investment criteria?</span
          >
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          We invest in preseed and seed stage ventures that are proven to be
          commercially viable and investor ready
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span class="font-headingExtraBold text-xl">
            03. What is the geographic focus of QBCapital?</span
          >
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          Our primary market is Africa. However, we are not limited to the
          African market provided the investment criteria have been met
        </p>
      </details>
    </div>
    <div class="py-5">
      <details class="group">
        <summary
          class="flex justify-between items-center font-medium cursor-pointer list-none"
        >
          <span class="font-headingExtraBold text-xl">
            04. What is your approach to woking with portfolio companies?</span
          >
          <span class="transition group-open:rotate-180">
            <svg
              fill="none"
              height="24"
              shape-rendering="geometricPrecision"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          QBCapital works closely with founders to ensure they have a good
          financial posture. This paves way for further investments into a
          portfolio venture
        </p>
      </details>
    </div>
  </div>
</section>

<!-- footer -->
<app-footer></app-footer>
