<!-- Hero -->
<section
  id="heroSection"
  class="bg-primaryBlack bg-[url('assets/imgs/homeBg.webp')] bg-no-repeat bg-cover h-[500px] lg:h-[846px] text-primaryWhite"
>
  <app-navbar [isHome]="!!'true'"></app-navbar>

  <h1
    class="text-4xl px-4 md:px-1 md:text-6xl w-auto md:w-1/2 mx-auto font-headingExtraBold text-center"
  >
    BUILDING SMART AFRICAN VENTURES
  </h1>
</section>

<!-- Studio & Capital -->
<section
  class="md:w-[90%] md:h-[500px] bg-primaryGreen relative lg:absolute right-0 md:-mt-60 flex items-center flex-col md:flex-row"
>
  <div
    class="md:w-1/2 py-10 md:py-0 px-6 lg:px-20 2xl:px-48 text-center flex flex-col items-center border-b-2 md:border-r-2 md:border-b-0 border-primaryBlack"
  >
    <div class="mb-2">
      <h4 class="font-headingFont">QBVENTURES</h4>
      <h2 class="font-headingExtraBold text-4xl">STUDIO</h2>
    </div>
    <p>
      We strive to help African entrepreneurs achieve product-market fit and set
      them on a path to success in their venture-building journey. Our expertise
      ranges from conceptualizing a product to launching and scaling it into a
      wildly successful company
    </p>
    <div
      class="group flex items-center justify-between border-2 rounded-full bg-transparent text-primaryBlack border-primaryBlack py-4 px-5 w-44 mt-5 cursor-pointer transition-all duration-500 transform hover:text-primaryWhite hover:bg-primaryBlack"
      [routerLink]="['/studio']"
    >
      Learn More
      <svg
        class="stroke-primaryBlack group-hover:stroke-primaryWhite"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.75 12H20.25"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13.5 5.25L20.25 12L13.5 18.75"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>

  <div
    class="md:w-1/2 py-10 md:py-0 px-6 lg:px-20 2xl:px-48 text-center flex flex-col items-center"
  >
    <div class="mb-2">
      <h4 class="font-headingFont">QBVENTURES</h4>
      <h2 class="font-headingExtraBold text-4xl">CAPITAL</h2>
    </div>
    <p>
      We invest in innovative and disruptive technology ideas in the early
      stages, particularly from the pre-seed to seed stages. Our mission is to
      support visionary founders in building innovative solutions that transform
      industries and change the world.
    </p>
    <div
      class="group flex items-center justify-between border-2 rounded-full bg-transparent text-primaryBlack border-primaryBlack py-4 px-5 w-44 mt-5 cursor-pointer transition-all duration-500 transform hover:text-primaryWhite hover:bg-primaryBlack"
      [routerLink]="['/capital']"
    >
      Learn More
      <svg
        class="stroke-primaryBlack group-hover:stroke-primaryWhite"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.75 12H20.25"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13.5 5.25L20.25 12L13.5 18.75"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
  <!-- mask -->
  <img
    class="absolute -bottom-[2px] md:-bottom-[2px] -left-[5px] w-[80px] h-[60px] md:w-[198px] md:h-[85px]"
    src="./assets/imgs/mask.webp"
    alt="mask img"
  />
</section>

<!-- Portfolio ventures -->
<section class="my-20 md:mt-80 md:mb-40">
  <h1
    class="font-headingExtraBold text-3xl md:text-[40px] text-center px-6 md:px-0"
  >
    PORTFOLIO VENTURES
  </h1>

  <!-- Naiparq -->
  <div
    class="flex flex-col md:flex-row space-y-6 md:space-y-0 items-center justify-between md:px-20 lg:px-48 md:space-x-6 mt-12 lg:mt-24"
  >
    <div
      class="px-6 md:px-0 md:w-1/2 flex flex-col items-center text-center md:block md:text-start"
    >
      <img
        class="w-40 h-10 md:w-auto md:h-auto"
        src="./assets/imgs/naiparq.webp"
        alt="naiparq logo"
      />
      <p class="py-5">
        Naiparq is a startup comany on a misson to alleviate commuter pain in
        African cities by developing innovative solutions that leverage
        technology to help motorists find and reserve parking slots. Naiparq
        solutions are available as both web and mobile applications designed for
        parking operators and motorists respectively.
      </p>
      <a
        href="https://naiparq.co.ke/"
        target="_blank"
        class="group flex items-center justify-between border-2 rounded-full bg-transparent text-primaryBlack border-primaryBlack py-4 px-5 w-44 mt-5 cursor-pointer transition-all duration-500 transform hover:text-primaryWhite hover:bg-primaryBlack"
      >
        Visit Naiparq
        <svg
          class="stroke-primaryBlack group-hover:stroke-primaryWhite"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.75 12H20.25"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13.5 5.25L20.25 12L13.5 18.75"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
    <div class="w-full px-6 md:px-0 md:w-1/2">
      <img src="./assets/imgs/naiparq-app.webp" alt="" />
    </div>
  </div>

  <!-- Prodtrace -->
  <div
    class="flex flex-col-reverse md:flex-row space-y-6 md:space-y-0 items-center justify-between md:px-20 lg:px-48 md:space-x-6 mt-12 lg:mt-24"
  >
    <div class="w-full px-6 pt-6 md:px-0 md:w-1/2 md:pt-0">
      <img src="./assets/imgs/prodtrace-app.webp" alt="" />
    </div>
    <div
      class="px-6 md:px-0 md:w-1/2 flex flex-col items-center text-center md:block md:text-start"
    >
      <img
        class="w-40 h-10 md:w-auto md:h-auto"
        src="./assets/imgs/prodtrace.webp"
        alt="prodtrace logo"
      />
      <p class="py-5">
        ProdTraces’ mission is to help farmers increase their yields by 3 folds
        by providing a technology rich platform where they have access to all
        the relevant compliance agencies, where they can view a history of the
        different farming techniques and a place where they can find verified
        seed and manure distributors.
      </p>
      <a
        href="https://prodtrace.io/"
        target="_blank"
        class="group flex items-center justify-between border-2 rounded-full bg-transparent text-primaryBlack border-primaryBlack py-4 px-5 w-52 mt-5 cursor-pointer transition-all duration-500 transform hover:text-primaryWhite hover:bg-primaryBlack"
      >
        Visit Prodtrace
        <svg
          class="stroke-primaryBlack group-hover:stroke-primaryWhite"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.75 12H20.25"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13.5 5.25L20.25 12L13.5 18.75"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
  </div>

  <!-- Loita -->
  <div
    class="flex flex-col md:flex-row space-y-6 md:space-y-0 items-center justify-between md:px-20 lg:px-48 md:space-x-6 mt-16 lg:mt-24"
  >
    <div
      class="px-6 md:px-0 md:w-1/2 flex flex-col items-center text-center md:block md:text-start"
    >
      <img
        class="w-32 h-10 md:w-auto md:h-auto"
        src="./assets/imgs/loita.webp"
        alt="Loit logo"
      />
      <p class="py-5">
        Loita is a startup company that seeks to revolutionize asset and
        inventory tracking and management services. To this end, Loita is
        actively developing a management system that combines real-time
        geolocation reporting with real-time analytics of telematics data to
        give asset and inventory managers situational awareness and insights
        that can be used to guide critical decisions. The system also features
        advanced behavioral analytics through computer vision to assess
        personnel behavior and perform automated reporting based on user
        preference.
      </p>
      <a
        href="https://loita.io/"
        target="_blank"
        class="group flex items-center justify-between border-2 rounded-full bg-transparent text-primaryBlack border-primaryBlack py-4 px-5 w-44 mt-5 cursor-pointer transition-all duration-500 transform hover:text-primaryWhite hover:bg-primaryBlack"
      >
        Visit Loita
        <svg
          class="stroke-primaryBlack group-hover:stroke-primaryWhite"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.75 12H20.25"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13.5 5.25L20.25 12L13.5 18.75"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
    <div class="w-full px-6 md:px-0 md:w-1/2">
      <img src="./assets/imgs/loita-app.webp" alt="" />
    </div>
  </div>
</section>

<!-- Work with us -->
<section class="bg-primaryBlack py-24 px-6 md:px-20 lg:px-48 relative">
  <h1 class="text-lightGreen text-4xl md:text-6xl font-headingExtraBold">
    WORK WITH US
  </h1>
  <p class="text-primaryWhite text-2xl md:w-1/2 my-6">
    We welcome the opportunity to meet, dialogue, and partner in pursuit of
    value creation for companies and investors.
  </p>
  <div
    class="group flex items-center justify-around rounded-full py-4 px-5 w-44 mt-5 gap-x-4 cursor-pointer transition-all duration-500 transform bg-transparent text-primaryWhite hover:bg-lightGreen hover:text-primaryBlack border-lightGreen border font-headingFont"
    [routerLink]="['./contact']"
  >
    Contact

    <svg
      class="stroke-primaryWhite transition-all duration-300 ease-in-out group-hover:stroke-primaryBlack"
      width="17"
      height="17"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2.54376 8.13342H13.6253"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M9.09198 3.60004L13.6254 8.13341L9.09198 12.6668"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <!-- mask -->
  <img
    class="absolute -bottom-1 right-0 w-[120px] h-[70px]"
    src="./assets/imgs/mask.webp"
    alt="mask img"
  />
</section>

<!-- Latest news -->
<!-- <section class="px-6 md:px-20 my-12 lg:my-32">
  <div class="my-6 flex items-center justify-between">
    <h1 class="font-headingExtraBold text-2xl md:text-[40px]">LATEST NEWS</h1>

    <div
      class="group flex items-center justify-around border-2 rounded-full border-primaryBlack text-[9px] md:text-base p-2 md:py-4 md:px-5 md:w-44 cursor-pointer transition-all duration-500 transform hover:bg-primaryBlack hover:text-primaryWhite"
    >
      Read More
      <svg
        class="stroke-primaryBlack group-hover:stroke-primaryWhite h-4 w-4 md:h-6 md:w-6"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.75 12H20.25"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13.5 5.25L20.25 12L13.5 18.75"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
  <div
    class="flex items-center justify-between gap-x-6 flex-col lg:flex-row gap-y-6 lg:gap-y-0"
  >
    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>

    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>

    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>
    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>
  </div>
</section> -->
<!-- Events -->
<section id="events" class="md:px-48 md:py-16 p-6 md:my-14">
  <p class="font-headingExtraBold text-3xl md:text-5xl mb-8">EVENTS</p>

  <div
    class="flex items-center justify-between gap-4 flex-col mg:gap-y-0 md:flex-row"
  >
    <!-- ---1 -->
    <div
      class="border border-primaryBlack rounded-3xl h-96 md:w-80 flex flex-col justify-between py-8 px-8 hover:border-none hover:bg-gradient-to-br hover:from-[#02D493] hover:cursor-pointer"
    >
      <p class="font-headingExtraBold text-3xl">Box3Labs Demo Day</p>
      <div class="flex justify-between">
        <p>May 4th 2023</p>
        <p>Virtual and on-premise</p>
      </div>
    </div>

    <!-- ---2 -->
    <div
      class="border border-primaryBlack rounded-3xl h-96 md:w-80 flex flex-col justify-between py-8 px-8 hover:border-none hover:bg-gradient-to-br hover:from-[#02D493] hover:cursor-pointer"
    >
      <p class="font-headingExtraBold text-3xl">
        Webinar: Essential techniques for validating your startup ideas
      </p>
      <div class="flex justify-between">
        <p>May 23rd 2023</p>
        <p>Virtual</p>
      </div>
    </div>
    <!-- ---3 -->
    <div
      class="border border-primaryBlack rounded-3xl h-96 md:w-80 flex flex-col justify-between py-8 px-8 hover:border-none hover:bg-gradient-to-br hover:from-[#02D493] hover:cursor-pointer"
    >
      <p class="font-headingExtraBold text-3xl">
        Webinar: How to tell if you have product-market fit
      </p>
      <div class="flex justify-between">
        <p>June 20th 2023</p>
        <p>Virtual</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<app-footer></app-footer>
