<!-- Hero -->
<section
  id="heroSection"
  class="px-48 py-16 bg-primaryBlack lg:h-[846px] text-primaryWhite"
>
  <div class="flex items-center justify-between">
    <img
      src="./assets/imgs/qbLogo.svg"
      width="229"
      height="39"
      alt="qbventures logo"
    />

    <ul class="flex items-center space-x-4">
      <li><a>About</a></li>
      <li><a>Studio</a></li>
      <li><a>Capital</a></li>
      <li><a>Team</a></li>
      <li>
        <a
          class="bg-lightGreen py-3 px-4 rounded-full text-primaryBlack font-headingFont"
          >Get in Touch</a
        >
      </li>
    </ul>
  </div>

  <h1 class="text-7xl w-1/2 mx-auto mt-36 font-headingExtraBold text-center">
    BUILDING SMART AFRICAN VENTURES
  </h1>
</section>

<!-- Studio & Capital -->
<section
  class="w-3/4 h-[500px] bg-primaryGreen absolute right-0 top-1/2 flex items-center"
>
  <div
    class="w-1/2 px-48 text-center flex flex-col items-center border-r-2 border-primaryBlack"
  >
    <div class="mb-2">
      <h4 class="font-headingFont">QBVENTURES</h4>
      <h2 class="font-headingExtraBold text-4xl">STUDIO</h2>
    </div>
    <p>
      We strive to help African entrepreneurs achieve product-market fit and set
      them on a path to success in their venture-building journey. Our expertise
      ranges from conceptualizing a product to launching and scaling it into a
      wildly successful company
    </p>
    <div
      class="flex items-center justify-between border-2 rounded-full border-primaryBlack py-4 px-5 w-44 mt-5 cursor-pointer transition-all duration-500 transform hover:bg-primaryWhite hover:text-primaryBlack hover:border-primaryWhite"
    >
      Learn More
      <img
        src="./assets/imgs/arrowRightDark.svg"
        alt="arrow right"
        width="24"
        height="24"
      />
    </div>
  </div>

  <div class="w-1/2 px-48 text-center flex flex-col items-center">
    <div class="mb-2">
      <h4 class="font-headingFont">QBVENTURES</h4>
      <h2 class="font-headingExtraBold text-4xl">CAPITAL</h2>
    </div>
    <p>
      We invest in innovative and disruptive technology ideas in the early
      stages, particularly from the pre-seed to seed stages. Our mission is to
      support visionary founders in building innovative solutions that transform
      industries and change the world.
    </p>
    <div
      class="flex items-center justify-between border-2 rounded-full bg-primaryBlack text-primaryWhite border-primaryBlack py-4 px-5 w-44 mt-5 cursor-pointer transition-all duration-500 transform hover:bg-primaryWhite hover:text-primaryBlack hover:border-primaryWhite"
    >
      Learn More
      <img
        class="bg-primaryBlack"
        src="./assets/imgs/arrowRightLight.svg"
        alt="arrow right"
        width="24"
        height="24"
      />
    </div>
  </div>
  <!-- mask -->
  <img
    class="absolute -bottom-1 -left-1"
    src="./assets/imgs/mask.svg"
    width="198"
    height="85"
    alt="mask img"
  />
</section>

<!-- Portfolio ventures -->
<section class="my-48">
  <h1 class="font-headingExtraBold text-[40px] text-center">
    PORTFOLIO VENTURES
  </h1>

  <!-- Naiparq -->
  <div class="flex items-center justify-between px-48 space-x-6 mt-24">
    <div class="w-1/2">
      <img
        src="./assets/imgs/naiparq.svg"
        alt="naiparq logo"
        width="228"
        height="60"
      />
      <p class="py-5">
        Naiparq is a startup comany on a misson to alleviate commuter pain in
        African cities by developing innovative solutions that leverage
        technology to help motorists find and reserve parking slots. Naiparq
        solutions are available as both web and mobile applications designed for
        parking operators and motorists respectively.
      </p>
      <div
        class="flex items-center justify-between border-2 rounded-full border-primaryBlack py-4 px-5 w-44 mt-5 cursor-pointer transition-all duration-500 transform hover:bg-primaryWhite hover:text-primaryBlack hover:border-primaryWhite"
      >
        Visit Naiparq
        <img
          src="./assets/imgs/arrowRightDark.svg"
          alt="arrow right"
          width="24"
          height="24"
        />
      </div>
    </div>
    <div class="w-1/2">
      <iframe
        width="100%"
        height="345"
        src="https://www.youtube.com/embed/tgbNymZ7vqY"
      >
      </iframe>
    </div>
  </div>

  <!-- Prodtrace -->
  <div class="flex items-center justify-between px-48 space-x-6 mt-24">
    <div class="w-1/2">
      <iframe
        width="100%"
        height="345"
        src="https://www.youtube.com/embed/tgbNymZ7vqY"
      >
      </iframe>
    </div>
    <div class="w-1/2">
      <img
        src="./assets/imgs/naiparq.svg"
        alt="naiparq logo"
        width="228"
        height="60"
      />
      <p class="py-5">
        Naiparq is a startup comany on a misson to alleviate commuter pain in
        African cities by developing innovative solutions that leverage
        technology to help motorists find and reserve parking slots. Naiparq
        solutions are available as both web and mobile applications designed for
        parking operators and motorists respectively.
      </p>
      <div
        class="flex items-center justify-between border-2 rounded-full border-primaryBlack py-4 px-5 w-max mt-5 cursor-pointer transition-all duration-500 transform hover:bg-primaryWhite hover:text-primaryBlack hover:border-primaryWhite"
      >
        Visit Prodtrace
        <img
          src="./assets/imgs/arrowRightDark.svg"
          alt="arrow right"
          width="24"
          height="24"
        />
      </div>
    </div>
  </div>

  <!-- Loita -->
  <div class="flex items-center justify-between px-48 space-x-6 mt-24">
    <div class="w-1/2">
      <img
        src="./assets/imgs/loita.svg"
        alt="naiparq logo"
        width="135"
        height="60"
      />
      <p class="py-5">
        Loita is a startup company that seeks to revolutionize asset and
        inventory tracking and management services. To this end, Loita is
        actively developing a management system that combines real-time
        geolocation reporting with real-time analytics of telematics data to
        give asset and inventory managers situational awareness and insights
        that can be used to guide critical decisions. The system also features
        advanced behavioral analytics through computer vision to assess
        personnel behavior and perform automated reporting based on user
        preference.
      </p>
      <div
        class="flex items-center justify-between border-2 rounded-full border-primaryBlack py-4 px-5 w-44 mt-5 cursor-pointer transition-all duration-500 transform hover:bg-primaryWhite hover:text-primaryBlack hover:border-primaryWhite"
      >
        Visit Loita
        <img
          src="./assets/imgs/arrowRightDark.svg"
          alt="arrow right"
          width="24"
          height="24"
        />
      </div>
    </div>
    <div class="w-1/2">
      <iframe
        width="100%"
        height="345"
        src="https://www.youtube.com/embed/tgbNymZ7vqY"
      >
      </iframe>
    </div>
  </div>
</section>

<!-- Work with us -->
<section class="bg-primaryBlack py-24 px-48 relative">
  <h1 class="text-lightGreen text-6xl font-headingExtraBold">WORK WITH US</h1>
  <p class="text-primaryWhite text-2xl w-1/2 my-6">
    We welcome the opportunity to meet, dialogue, and partner in pursuit of
    value creation for companies and investors.
  </p>
  <div
    class="flex items-center justify-around rounded-full py-4 px-5 w-44 mt-5 cursor-pointer transition-all duration-500 transform bg-lightGreen hover:bg-primaryWhite hover:text-primaryBlack hover:border-primaryWhite font-headingFont"
  >
    Contact
    <img
      src="./assets/imgs/arrowRightDark.svg"
      alt="arrow right"
      width="24"
      height="24"
    />
  </div>
  <!-- mask -->
  <img
    class="absolute -bottom-1 right-0"
    src="./assets/imgs/mask.svg"
    width="198"
    height="85"
    alt="mask img"
  />
</section>

<!-- Latest news -->
<section class="px-48 my-32">
  <div class="my-6 flex items-center justify-between">
    <h1 class="font-headingExtraBold text-[40px]">LATEST NEWS</h1>
    <div
      class="flex items-center justify-around border-2 rounded-full border-primaryBlack py-4 px-5 w-44 mt-5 cursor-pointer transition-all duration-500 transform hover:bg-primaryWhite hover:text-primaryBlack hover:border-primaryWhite"
    >
      Read More
      <img
        src="./assets/imgs/arrowRightDark.svg"
        alt="arrow right"
        width="24"
        height="24"
      />
    </div>
  </div>
  <div class="flex items-center space-x-6">
    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>
    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>

    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>
    <app-news-card
      title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      description="Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis fringilla non in at facilisis. Nibh sed nibh et consectetur."
    ></app-news-card>
  </div>
</section>

<!-- Footer -->
<app-footer></app-footer>
