<div class="bg-white h-[440px] w-[365px] flex flex-col space-y-4">
  <img src="https://picsum.photos/365/199" alt="blog image" />
  <h2 class="font-headingFont mx-5">
    {{ title }}
  </h2>
  <p class="font-textFont mx-5">{{ description }}</p>
  <div
    class="rounded-full border-2 border-primaryBlack w-9 h-9 flex items-center justify-center mx-5 transition-all duration-300 ease-in-out hover:bg-primaryBlack group"
  >
    <svg
      class="stroke-black transition-all duration-300 ease-in-out group-hover:stroke-white"
      width="17"
      height="17"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2.54376 8.13342H13.6253"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M9.09198 3.60004L13.6254 8.13341L9.09198 12.6668"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</div>
