<!-- Hero -->
<section
  id="heroSection"
  class="bg-primaryWhite bg-[url('assets/imgs/studioBg.webp')] bg-no-repeat bg-cover md:pb-40"
>
  <!-- navbar -->
  <div>
    <div
      class="z-0 lg:px-40 md:py-16 p-6 flex justify-between md:flex-row gap-y-8 md:gap-y-0"
    >
      <ng-container>
        <img
          src="../../../assets/imgs/qbLogoBlack.svg"
          class="w-40 h-10 md:w-56 hover:cursor-pointer"
          alt="qbventures logo"
          [routerLink]="['/']"
        />
      </ng-container>

      <ng-container>
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          class="block md:hidden stroke-black hover:cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          (click)="isMenuOpen = !isMenuOpen"
        >
          <path
            d="M5 16H27"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5 8H27"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5 24H27"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </ng-container>

      <ul
        class="hidden md:flex items-center justify-center flex-wrap md:flex-nowrap gap-x-1 lg:gap-x-6 gap-y-6"
      >
        <li
          class="text-center px-4 py-2 relative before:absolute before:-bottom-2 before:-right-2 before:h-0 before:w-0 after:border-black before:border-black before:border-b before:border-r before:transition-all before:duration-300 before:ease-in-out after:absolute after:-top-2 after:-left-2 after:h-0 after:w-0 after:border-t after:border-l after:transition-all after:duration-300 after:ease-in-out hover:before:h-[calc(100%+16px)] hover:before:w-[calc(100%+16px)] hover:after:h-[calc(100%+16px)] hover:after:w-[calc(100%+16px)] hover:cursor-pointer"
          [routerLink]="['/about']"
          [routerLinkActive]="['font-headingFont', '']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a>About</a>
        </li>
        <li
          class="text-center px-4 py-2 relative after:border-black before:border-black before:absolute before:-bottom-2 before:-right-2 before:h-0 before:w-0 before:border-b before:border-r before:transition-all before:duration-300 before:ease-in-out after:absolute after:-top-2 after:-left-2 after:h-0 after:w-0 after:border-t after:border-l after:transition-all after:duration-300 after:ease-in-out hover:before:h-[calc(100%+16px)] hover:before:w-[calc(100%+16px)] hover:after:h-[calc(100%+16px)] hover:after:w-[calc(100%+16px)] hover:cursor-pointer"
          [routerLink]="['/studio']"
          [routerLinkActive]="['font-headingFont', '']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a>Studio</a>
        </li>
        <li
          class="text-center px-4 py-2 relative after:border-black before:border-black before:absolute before:-bottom-2 before:-right-2 before:h-0 before:w-0 before:border-b before:border-r before:transition-all before:duration-300 before:ease-in-out after:absolute after:-top-2 after:-left-2 after:h-0 after:w-0 after:border-t after:border-l after:transition-all after:duration-300 after:ease-in-out hover:before:h-[calc(100%+16px)] hover:before:w-[calc(100%+16px)] hover:after:h-[calc(100%+16px)] hover:after:w-[calc(100%+16px)] hover:cursor-pointer"
          [routerLink]="['/capital']"
          [routerLinkActive]="['font-headingFont', '']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a>Capital</a>
        </li>
        <li
          class="text-center px-4 py-2 relative after:border-black before:border-black before:absolute before:-bottom-2 before:-right-2 before:h-0 before:w-0 before:border-b before:border-r before:transition-all before:duration-300 before:ease-in-out after:absolute after:-top-2 after:-left-2 after:h-0 after:w-0 after:border-t after:border-l after:transition-all after:duration-300 after:ease-in-out hover:before:h-[calc(100%+16px)] hover:before:w-[calc(100%+16px)] hover:after:h-[calc(100%+16px)] hover:after:w-[calc(100%+16px)] hover:cursor-pointer"
          [routerLink]="['/team']"
          [routerLinkActive]="['font-headingFont', '']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a>Team</a>
        </li>
        <li
          class="text-center px-4 py-2 relative after:border-black before:border-black before:absolute before:-bottom-2 before:-right-2 before:h-0 before:w-0 before:border-b before:border-r before:transition-all before:duration-300 before:ease-in-out after:absolute after:-top-2 after:-left-2 after:h-0 after:w-0 after:border-t after:border-l after:transition-all after:duration-300 after:ease-in-out hover:before:h-[calc(100%+16px)] hover:before:w-[calc(100%+16px)] hover:after:h-[calc(100%+16px)] hover:after:w-[calc(100%+16px)] hover:cursor-pointer"
          [routerLink]="['/blog']"
          [routerLinkActive]="['font-headingFont', '']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a>Blog</a>
        </li>
        <li
          [routerLink]="['/contact']"
          [routerLinkActive]="['font-headingFont', '']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="py-3 px-4 rounded-full font-headingFont border border-primaryBlack hover:bg-primaryBlack hover:text-white hover:cursor-pointer"
            >Get in Touch</a
          >
        </li>
      </ul>
    </div>

    <div
      [ngClass]="{ 'z-50 opacity-100 top-[0]': isMenuOpen }"
      class="absolute -top-[1200px] opacity-0 w-screen min-h-full transition-all duration-500 ease-in bg-black text-white block md:hidden"
    >
      <div class="flex justify-end p-6">
        <svg
          class="hover:cursor-pointer"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          (click)="isMenuOpen = !isMenuOpen"
        >
          <path
            d="M25 7L7 25"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M25 25L7 7"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>

      <div class="mt-5">
        <ul
          class="flex md:hidden items-center justify-center flex-col gap-y-8 font-headingFont"
        >
          <li
            class="text-center px-4 py-2 relative after:border-black before:border-black before:absolute before:-bottom-2 before:-right-2 before:h-0 before:w-0 before:border-b before:border-r before:transition-all before:duration-300 before:ease-in-out after:absolute after:-top-2 after:-left-2 after:h-0 after:w-0 after:border-t after:border-l after:transition-all after:duration-300 after:ease-in-out hover:before:h-[calc(100%+16px)] hover:before:w-[calc(100%+16px)] hover:after:h-[calc(100%+16px)] hover:after:w-[calc(100%+16px)] hover:cursor-pointer"
            [routerLink]="['/about']"
            [routerLinkActive]="['font-headingFont', '']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>About</a>
          </li>
          <li
            class="text-center px-4 py-2 relative after:border-black before:border-black before:absolute before:-bottom-2 before:-right-2 before:h-0 before:w-0 before:border-b before:border-r before:transition-all before:duration-300 before:ease-in-out after:absolute after:-top-2 after:-left-2 after:h-0 after:w-0 after:border-t after:border-l after:transition-all after:duration-300 after:ease-in-out hover:before:h-[calc(100%+16px)] hover:before:w-[calc(100%+16px)] hover:after:h-[calc(100%+16px)] hover:after:w-[calc(100%+16px)] hover:cursor-pointer"
            [routerLink]="['/studio']"
            [routerLinkActive]="['font-headingFont', '']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Studio</a>
          </li>
          <li
            class="text-center px-4 py-2 relative after:border-black before:border-black before:absolute before:-bottom-2 before:-right-2 before:h-0 before:w-0 before:border-b before:border-r before:transition-all before:duration-300 before:ease-in-out after:absolute after:-top-2 after:-left-2 after:h-0 after:w-0 after:border-t after:border-l after:transition-all after:duration-300 after:ease-in-out hover:before:h-[calc(100%+16px)] hover:before:w-[calc(100%+16px)] hover:after:h-[calc(100%+16px)] hover:after:w-[calc(100%+16px)] hover:cursor-pointer"
            [routerLink]="['/capital']"
            [routerLinkActive]="['font-headingFont', '']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Capital</a>
          </li>
          <li
            class="text-center px-4 py-2 relative after:border-black before:border-black before:absolute before:-bottom-2 before:-right-2 before:h-0 before:w-0 before:border-b before:border-r before:transition-all before:duration-300 before:ease-in-out after:absolute after:-top-2 after:-left-2 after:h-0 after:w-0 after:border-t after:border-l after:transition-all after:duration-300 after:ease-in-out hover:before:h-[calc(100%+16px)] hover:before:w-[calc(100%+16px)] hover:after:h-[calc(100%+16px)] hover:after:w-[calc(100%+16px)] hover:cursor-pointer"
            [routerLink]="['/team']"
            [routerLinkActive]="['font-headingFont', '']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Team</a>
          </li>
          <li
            class="text-center px-4 py-2 relative after:border-black before:border-black before:absolute before:-bottom-2 before:-right-2 before:h-0 before:w-0 before:border-b before:border-r before:transition-all before:duration-300 before:ease-in-out after:absolute after:-top-2 after:-left-2 after:h-0 after:w-0 after:border-t after:border-l after:transition-all after:duration-300 after:ease-in-out hover:before:h-[calc(100%+16px)] hover:before:w-[calc(100%+16px)] hover:after:h-[calc(100%+16px)] hover:after:w-[calc(100%+16px)] hover:cursor-pointer"
            [routerLink]="['/blog']"
            [routerLinkActive]="['font-headingFont', '']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a>Blog</a>
          </li>
          <li
            [routerLink]="['/contact']"
            [routerLinkActive]="['font-headingFont', '']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              class="bg-primaryWhite py-3 px-4 rounded-full text-primaryBlack font-headingFont"
              >Get in Touch</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="-mt-16 md:mt-0 lg:px-40 lg:py-16 p-6">
    <div class="flex justify-between gap-x-2 px-6">
      <div class="w-full md:w-1/2">
        <!-- the slider -->
        <swiper #swiper [slidesPerView]="1" [spaceBetween]="500">
          <ng-template swiperSlide *ngFor="let quote of quotes">
            <div class="flex flex-col gap-y-6">
              <h1
                class="text-3xl md:text-6xl md:mt-36 mt-20 font-headingExtraBold uppercase"
              >
                {{ quote.title }}
              </h1>
              <p class="text-base">
                {{ quote.description }}
              </p>
            </div>
          </ng-template>
        </swiper>
        <!-- Arrows -->
        <div class="flex gap-x-4">
          <div
            (click)="slidePrev()"
            class="group flex items-center justify-center border-2 rounded-full bg-transparent text-primaryBlack border-primaryBlack py-4 px-5 w-32 mt-5 cursor-pointer transition-all duration-500 transform hover:text-primaryWhite hover:bg-primaryBlack"
          >
            <svg
              class="h-8 w-8 stroke-primaryBlack group-hover:stroke-primaryWhite"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27 16L5 16"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14 25L5 16L14 7"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div
            (click)="slideNext()"
            class="group flex items-center justify-center border-2 rounded-full bg-transparent text-primaryBlack border-primaryBlack py-4 px-5 w-32 mt-5 cursor-pointer transition-all duration-500 transform hover:text-primaryWhite hover:bg-primaryBlack rotate-180"
          >
            <svg
              class="h-8 w-8 stroke-primaryBlack group-hover:stroke-primaryWhite"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27 16L5 16"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14 25L5 16L14 7"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <img src="assets/imgs/studio-1.webp" alt="studio image1" />
      </div>
    </div>

    <div id="slider" class="mt-10">
      <div class="flex items-center justify-between">
        <p class="font-headingExtraBold text-3xl md:text-5xl">Services</p>
        <!-- Arrows -->
        <div class="hidden gap-x-4 md:flex">
          <div
            (click)="servSlidePrev()"
            class="group flex items-center justify-center border-2 rounded-full bg-transparent text-primaryBlack border-primaryBlack py-2 px-5 w-32 mt-5 cursor-pointer transition-all duration-500 transform hover:text-primaryWhite hover:bg-primaryBlack"
          >
            <svg
              class="h-8 w-8 stroke-primaryBlack group-hover:stroke-primaryWhite"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27 16L5 16"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14 25L5 16L14 7"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div
            (click)="servSlideNext()"
            class="group flex items-center justify-center border-2 rounded-full bg-transparent text-primaryBlack border-primaryBlack py-4 px-5 w-32 mt-5 cursor-pointer transition-all duration-500 transform hover:text-primaryWhite hover:bg-primaryBlack rotate-180"
          >
            <svg
              class="h-8 w-8 stroke-primaryBlack group-hover:stroke-primaryWhite"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27 16L5 16"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14 25L5 16L14 7"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>

      <div
        class="mt-8 flex flex-col gap-x-0 gap-y-4 md:flex-row md:gap-y-0 md:gap-x-8"
      >
        <swiper
          #servSwiper
          [slidesPerView]="3"
          [spaceBetween]="50"
          [loopedSlides]="200"
          class="hidden lg:block w-full"
        >
          <ng-template swiperSlide *ngFor="let service of services">
            <div
              class="px-8 py-5 bg-primaryWhite rounded-3xl md:px-12 md:py-9 min-h-full md:min-h-full"
            >
              <h2 class="font-headingFont text-xl mb-6">
                {{ service.title }}
              </h2>
              <p class="text-base">
                {{ service.description }}
              </p>
            </div>
          </ng-template>
        </swiper>

        <!-- mobile view service slider -->
        <swiper
          #servSwiper
          [slidesPerView]="1"
          [spaceBetween]="10"
          class="block lg:hidden w-full"
        >
          <ng-template swiperSlide *ngFor="let service of services">
            <div
              class="px-8 py-5 bg-primaryWhite rounded-3xl md:px-12 md:py-9 md:w-[490px] min-h-[550px]"
            >
              <h2 class="font-headingFont text-3xl mb-6">
                {{ service.title }}
              </h2>
              <p class="text-base">
                {{ service.description }}
              </p>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>

  <!-- Services -->
  <section id="value" class="px-4 mb-6 lg:px-40">
    <img
      class="w-full object-cover"
      src="./assets/imgs/studio-2.webp"
      alt="studio image2"
    />
    <div class="text-center md:w-3/4 mx-auto py-10 md:py-20">
      <p class="font-headingExtraBold text-3xl mb-6 md:text-5xl">
        Why entrepreneurs like to work with us
      </p>
      <p>
        As much as there is no one-size-fits-all approach to venture building,
        our venture playbook is proven to help bring about scalable and
        sustainable business models for our portfolio ventures.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-y-16">
      <div class="flex gap-x-4">
        <p class="font-headingExtraBold text-black text-3xl md:text-6xl">1</p>
        <div class="space-y-2">
          <p class="font-headingFont text-2xl font-bold">Concept validation</p>
          <p>
            This marks the first phase of our venture-building process in which
            we work with founders to validate opportunities and build business
            models while ensuring alignment with the overall founder’s vision.
            We also help to raise the capital required for the next phases.
          </p>
        </div>
      </div>
      <div class="flex gap-x-4">
        <p class="font-headingExtraBold text-black text-3xl md:text-6xl">2</p>
        <div class="space-y-2">
          <p class="font-headingFont text-2xl font-bold">
            Product-market fitting
          </p>
          <p>
            In this phase, we use HCD principles to come up with appropriate
            branding alongside testable prototypes that help define product
            feature sets. We also use Design Thinking skills to better the value
            propositions and improve the user experience for the target
            customers
          </p>
        </div>
      </div>
      <div class="flex gap-x-4">
        <p class="font-headingExtraBold text-black text-3xl md:text-6xl">3</p>
        <div class="space-y-2">
          <p class="font-headingFont text-2xl font-bold">Technology build</p>
          <p>
            In this phase, we help entrepreneurs build the capacity required to
            achieve the technical requirements for the product. We do not teach
            coding skills but we can link up the venture with a tech-build
            partner.
          </p>
        </div>
      </div>
      <div class="flex gap-x-4">
        <p class="font-headingExtraBold text-black text-3xl md:text-6xl">4</p>
        <div class="space-y-2">
          <p class="font-headingFont text-2xl font-bold">
            Acceleration and commercialisation
          </p>
          <p>
            We extend our involvement in a portfolio venture during the
            acceleration and commercialization phase to ensure there is
            sustainable organizational scaling. We also offer operational
            support through our studio’s access to skilled personnel who may be
            used as shared resources
          </p>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- Events -->
<section id="events" class="lg:px-48 md:py-16 p-6">
  <p class="font-headingExtraBold text-3xl md:text-5xl mb-8">EVENTS</p>

  <div
    class="flex items-center justify-between gap-4 flex-col mg:gap-y-0 md:flex-row"
  >
    <!-- ---1 -->
    <div
      class="border border-primaryBlack rounded-3xl h-96 md:w-80 flex flex-col justify-between py-8 px-8 hover:border-none hover:bg-gradient-to-br hover:from-primaryGreen hover:cursor-pointer"
    >
      <p class="font-headingExtraBold text-3xl">Box3Labs Demo Day</p>
      <div class="flex justify-between">
        <p>May 4th 2023</p>
        <p>Virtual and on-premise</p>
      </div>
    </div>

    <!-- ---2 -->
    <div
      class="border border-primaryBlack rounded-3xl h-96 md:w-80 flex flex-col justify-between py-8 px-8 hover:border-none hover:bg-gradient-to-br hover:from-primaryGreen hover:cursor-pointer"
    >
      <p class="font-headingExtraBold text-3xl">
        Webinar: Essential techniques for validating your startup ideas
      </p>
      <div class="flex justify-between">
        <p>May 23rd 2023</p>
        <p>Virtual</p>
      </div>
    </div>
    <!-- ---3 -->
    <div
      class="border border-primaryBlack rounded-3xl h-96 md:w-80 flex flex-col justify-between py-8 px-8 hover:border-none hover:bg-gradient-to-br hover:from-primaryGreen hover:cursor-pointer"
    >
      <p class="font-headingExtraBold text-3xl">
        Webinar: How to tell if you have product-market fit
      </p>
      <div class="flex justify-between">
        <p>June 20th 2023</p>
        <p>Virtual</p>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<footer class="h-auto bg-primaryBlack text-white mx-6 rounded-t-3xl">
  <div
    class="overflow-hidden mx-1 flex md:items-start md:justify-around flex-col md:flex-row px-6 md:px-20 py-10 md:py-20 space-y-6 md:space-y-0"
  >
    <div class="space-y-6">
      <img
        src="./assets/imgs/box3Footer.webp"
        width="229"
        height="39"
        alt="box3ImgFooter logo"
      />
      <p class="md:w-96">
        Box3 labs is an incubator and accelerator program that partners with
        early to late stage companies that are seeking to create huge impacts
        through technology.
      </p>
    </div>
    <div>
      <ul class="pace-y-2 md:space-y-4">
        <li class="group" [routerLink]="['/about']">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >About</a
          >
        </li>
        <li class="group" [routerLink]="['/studio']">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Studio</a
          >
        </li>
        <li class="group" [routerLink]="['/capital']">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Capital</a
          >
        </li>
        <li class="group" [routerLink]="['/team']">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Team</a
          >
        </li>
        <li class="group" [routerLink]="['/blog']">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Blog</a
          >
        </li>
        <li class="group" [routerLink]="['/contact']">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul class="pace-y-2 md:space-y-4">
        <li class="group">
          <a
            href="https://www.linkedin.com/company/qbventures/"
            target="_blank"
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >LinkedIn</a
          >
        </li>
        <li class="group">
          <a
            href="https://twitter.com/qbventuresKE"
            target="_blank"
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Twitter</a
          >
        </li>
        <li class="group">
          <a
            href="https://www.facebook.com/profile.php?id=100091616094388"
            target="_blank"
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Facebook</a
          >
        </li>
        <!-- <li class="group">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Instagram</a
          >
        </li> -->
      </ul>
    </div>
    <div>
      <ul class="pace-y-2 md:space-y-6">
        <li class="group">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Nairobi,Kenya</a
          >
        </li>
        <li class="group">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >+254 785681880</a
          >
        </li>
        <li class="group">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryOrange after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >info@qbventures.africa</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="border-t border-primaryGreen text-center py-8">
    © Copyright Qbventures. All Rights Reserved
  </div>
</footer>
