<footer class="h-auto bg-primaryBlack text-white">
  <div
    class="flex md:items-start md:justify-around flex-col md:flex-row px-6 md:20 md:px-48 py-10 md:py-20 space-y-6 md:space-y-0"
  >
    <div class="space-y-6">
      <img
        src="./assets/imgs/qbLogo.svg"
        width="229"
        height="39"
        alt="qbventures logo"
      />
      <p class="md:w-96">
        Qbventures is a platform and a venture catalyst on a mission to promote
        innovation, invest in technology ideas (govtech, fintech and emerging
        markets) and also explore alternative business models.
      </p>
    </div>
    <div>
      <ul class="pace-y-2 md:space-y-4">
        <li class="group" [routerLink]="['/about']">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >About</a
          >
        </li>
        <li class="group" [routerLink]="['/studio']">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Studio</a
          >
        </li>
        <li class="group" [routerLink]="['/capital']">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Capital</a
          >
        </li>
        <li class="group" [routerLink]="['/team']">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Team</a
          >
        </li>
        <li class="group" [routerLink]="['/contact']">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul class="pace-y-2 md:space-y-4">
        <li class="group">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >LinkedIn</a
          >
        </li>
        <li class="group">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Twitter</a
          >
        </li>
        <li class="group">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Facebook</a
          >
        </li>
        <li class="group">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Instagram</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul class="pace-y-2 md:space-y-6">
        <li class="group">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >Nairobi,Kenya</a
          >
        </li>
        <li class="group">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >+254 700 123 123</a
          >
        </li>
        <li class="group">
          <a
            class="relative pr-4 pb-1 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primaryGreen after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100 group-hover:cursor-pointer"
            >hello@qbventures.com</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="border-t border-primaryGreen text-center py-8">
    © Copyright Qbventures. All Rights Reserved
  </div>
</footer>
