<footer class="h-auto bg-primaryBlack text-white">
  <div class="flex items-start justify-around px-48 py-20">
    <div class="space-y-6">
      <img
        src="./assets/imgs/qbLogo.svg"
        width="229"
        height="39"
        alt="qbventures logo"
      />
      <p class="w-96">
        Lorem ipsum dolor sit amet consectetur. Sit suspendisse eu id sagittis
        fringilla non in at facilisis. Nibh sed nibh et consectetur.
      </p>
    </div>
    <div>
      <ul class="space-y-4">
        <li><a>About</a></li>
        <li><a>Studio</a></li>
        <li><a>Capital</a></li>
        <li><a>Team</a></li>
        <li><a>Contact Us</a></li>
      </ul>
    </div>
    <div>
      <ul class="space-y-4">
        <li><a>LinkedIn</a></li>
        <li><a>Twitter</a></li>
        <li><a>Facebook</a></li>
        <li><a>Instagram</a></li>
      </ul>
    </div>
    <div>
      <ul class="space-y-6">
        <li><a>Nairobi,Kenya</a></li>
        <li><a>+254 700 123 123</a></li>
        <li><a>hello@qbventures.com</a></li>
      </ul>
    </div>
  </div>

  <div class="border-t border-primaryGreen text-center py-8">
    © Copyright Qbventures. All Rights Reserved
  </div>
</footer>
