<!-- Hero -->
<section
  class="relative h-[500px] bg-primaryGreen bg-[url('assets/imgs/bgElse.webp')] bg-no-repeat bg-cover overflow-hidden"
>
  <app-navbar></app-navbar>

  <h2
    class="block md:hidden md:mt-28 text-primaryBlack font-headingExtraBold text-7xl text-center"
  >
    BLOG
  </h2>
  <h1
    class="block md:hidden mt-[110px] md:-mt-[185px] text-center font-headingExtraBold text-[#00000008] text-[110px] md:text-[330px] select-none"
  >
    BLOG
  </h1>
</section>

<!-- blog section -->
<section class="min-h-[500px] md:relative p-6 md:p-12">
  <div
    class="md:-mt-80 text-primaryBlack font-headingExtraBold text-7xl text-center md:h-[500px] md:w-3/4 mx-auto rounded-xl"
  >
    <img
      class="object-cover h-full w-full rounded-xl"
      src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
      alt="blog img"
    />
  </div>
  <div class="md:w-3/4 mx-auto">
    <div class="space-y-2 mb-4">
      <p class="font-bold text-3xl">Heading</p>
      <p class="text-sm">Jan 9, 2023 By Victor Kanam</p>
    </div>
    <div class="space-y-4 text-base">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet voluptas
        ducimus dolor sequi fugiat autem. Sed consequuntur fugit blanditiis
        aliquam quisquam cupiditate provident temporibus. Qui mollitia maiores
        consequatur magni numquam expedita dolore cum reiciendis, dolorum non
        laudantium amet magnam ratione fugit consequuntur suscipit repellendus
        culpa quas perferendis. Cupiditate, sunt obcaecati?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet voluptas
        ducimus dolor sequi fugiat autem. Sed consequuntur fugit blanditiis
        aliquam quisquam cupiditate provident temporibus. Qui mollitia maiores
        consequatur magni numquam expedita dolore cum reiciendis, dolorum non
        laudantium amet magnam ratione fugit consequuntur suscipit repellendus
        culpa quas perferendis. Cupiditate, sunt obcaecati?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet voluptas
        ducimus dolor sequi fugiat autem. Sed consequuntur fugit blanditiis
        aliquam quisquam cupiditate provident temporibus. Qui mollitia maiores
        consequatur magni numquam expedita dolore cum reiciendis, dolorum non
        laudantium amet magnam ratione fugit consequuntur suscipit repellendus
        culpa quas perferendis. Cupiditate, sunt obcaecati?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet voluptas
        ducimus dolor sequi fugiat autem. Sed consequuntur fugit blanditiis
        aliquam quisquam cupiditate provident temporibus. Qui mollitia maiores
        consequatur magni numquam expedita dolore cum reiciendis, dolorum non
        laudantium amet magnam ratione fugit consequuntur suscipit repellendus
        culpa quas perferendis. Cupiditate, sunt obcaecati?
      </p>
    </div>
  </div>
</section>
<!-- footer -->
<app-footer></app-footer>
