<!-- Hero -->
<section
  class="relative h-[500px] bg-primaryGreen bg-[url('assets/imgs/bgElse.webp')] bg-no-repeat bg-cover overflow-hidden"
>
  <app-navbar></app-navbar>

  <h2
    class="block md:hidden md:mt-28 text-primaryBlack font-headingExtraBold text-7xl text-center"
  >
    BLOG
  </h2>
  <h1
    class="block md:hidden mt-[110px] md:-mt-[185px] text-center font-headingExtraBold text-[#00000008] text-[110px] md:text-[330px] select-none"
  >
    BLOG
  </h1>
</section>

<!-- blog section -->
<section class="min-h-[500px] p-6 space-y-4 md:space-y-8 md:relative md:p-12">
  <div
    class="md:-mt-80 text-primaryBlack font-headingExtraBold text-7xl text-center md:h-[500px] md:w-3/4 mx-auto rounded-xl"
  >
    <img
      class="object-cover h-full w-full rounded-xl"
      [src]="selectedBlog?.cover_image"
      alt="blog img"
    />
  </div>
  <div class="md:w-3/4 mx-auto">
    <div class="space-y-2 mb-4">
      <p class="font-bold text-3xl">{{ selectedBlog?.title }}</p>
      <p class="text-sm">
        {{ selectedBlog?.created_at | date : "mediumDate" }} By Qbventures
      </p>
    </div>
    <div class="space-y-4 text-base">
      <div class="text-sm" [innerHTML]="selectedBlog?.content"></div>
    </div>
  </div>
</section>
<!-- footer -->
<app-footer></app-footer>
